.about-head {
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 5rem;
  padding: 1rem 0;
}
.about-head h3 {
  font: normal bold 34px/1 "Integralcf";
  font-weight: 10;
  color: var(--secondaryColor);
  margin-bottom: 45px;
  letter-spacing: 3px;
}
.about-head p {
  font: normal normal 27px/45px "Sofia Pro";
  letter-spacing: 0.5px;
}

/* Home Service */

.home-service-card-flex {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #e7e7e7; */
  /* margin: 0 2rem; */
  /* padding: 90px 0; */
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.service-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* text-align: justify; */
  gap: 20px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.service-content .heading {
  font-weight: 700;
  font-size: 32px;
}

.service-content .para {
  line-height: 1.5;
}

.service-content .btn {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: rgb(9, 0, 158);
  background: linear-gradient(
    56deg,
    rgba(9, 0, 158, 1) 5%,
    rgba(54, 54, 218, 1) 19%,
    rgba(0, 212, 255, 1) 64%
  );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.service-card::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background: rgb(9, 0, 158);
  background: linear-gradient(
    56deg,
    rgba(9, 0, 158, 1) 5%,
    rgba(54, 54, 218, 1) 19%,
    rgba(0, 212, 255, 1) 64%
  );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.service-card:hover::before {
  width: 100%;
}

.service-card:hover {
  box-shadow: none;
}

.service-card:hover .btn {
  color: #212121;
  background: white;
}

.service-content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.service-content .btn:active {
  box-shadow: none;
}

/* .card-one,
.card-two,
.card-three,
.card-four {
  width: 330px;
  height: 500px;
  border: 1px solid #e7e7e7;
  color: white;
  border-radius: 15px;
  text-align: center;
  padding: 30px 20px;
  cursor: pointer;
  background-image: linear-gradient(50deg, #1e130c, rgba(17, 15, 15, 0.2));
}

.app-logo {
  font-size: 120px;
  color: #8d6e63;
  border-radius: 40px;
  background-color: white;
  padding: 17px;
}
.service-card-title {
  font: normal normal bold 28px/1 "Sofia Pro";
  margin-top: 40px;
} */
.service-card-content {
  font: normal normal 22px/40px "Sofia Pro";
  margin-top: 40px;
}
.quality-team {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}
.quality-team img {
  width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.quality-team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding-bottom: 8rem;
}
.quality-title {
  font: normal normal bold 38px/1 "Sofia Pro";
  letter-spacing: 0.5px;
}
.quality-content {
  font: normal normal normal 25px/45px "Sofia Pro";
  color: #000;
  margin-top: 3rem;
  padding: 5px;
}

/* Owner card */

.owner-card-flex {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-bottom: 10vh;
}

.owner-card {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.owner-card::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #fefefe;
  background: rgb(9, 0, 158);
  background: linear-gradient(
    56deg,
    rgba(9, 0, 158, 1) 5%,
    rgba(54, 54, 218, 1) 19%,
    rgba(0, 212, 255, 1) 64%
  );
  transition: all 0.5s ease;
}

.owner-card * {
  z-index: 1;
}

.owner-card .image {
  width: 90px;
  height: 90px;
  background-color: #1468bf;
  border-radius: 50%;
  border: 4px solid #fefefe;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.owner-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}

.owner-card-info span {
  font-weight: 600;
  font-size: 24px;
  color: #161a42;
  margin-top: 15px;
  line-height: 5px;
}

.owner-card-info p {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  text-decoration: none;
  background-color: #1468bf;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.owner-card:hover::before {
  width: 350px;
  height: 300px;
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scale(0.95);
}

.owner-card:hover .owner-card-info {
  transform: translate(0%, -25%);
}

.owner-card:hover .image {
  transform: scale(2) translate(-70%, -20%);
}

.button:hover {
  background-color: #44cdff;
  transform: scale(1.1);
}

/* Media Querry */

@media only screen and (max-width: 760px) {
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
  }
  .quality-team {
    flex-wrap: wrap;
  }
  .quality-team img {
    width: 100%;
  }
  .about h3 {
    font: normal normal bold 25px/35px "Poiret-One";
  }
  .quality-team {
    /* margin: 10px; */
  }
  .quality-team p {
    font: normal normal normal 18px/30px "Poiret-One";
  }
  .home-service-card {
    margin-top: 3rem;
  }
  .about-head p {
    font: normal normal 18px/35px "Poiret-One";
  }
  .service-card-content {
    font: normal normal 18px/35px "Poiret-One";
  }
  .about-head {
    margin-top: 2rem;
  }
}
