.contact-map iframe {
  width: 700px;
  height: 400px;
  border-radius: 15px;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 4rem;
  margin-top: 5rem;
  align-items: center;
  flex-wrap: wrap;
  /* height: 90vh; */
}
.contact-left-flex {
  margin-top: 5rem;
  padding: 5px 100px;
  padding-bottom: 50px;
  box-shadow: rgba(14, 90, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: var(--secondaryColor);
  border-radius: 14px;
}
.contact-left-flex h3 {
  font: normal normal bold 30px/1 "Integralcf";
  margin-bottom: 3rem;
  letter-spacing: 3px;
  padding-top: 40px;
  text-align: center;
}
.input-div {
  margin-bottom: 3rem;
}
.enquiry-form label {
  font: normal bold 25px/1 "Sofia Pro";
  margin-bottom: 20px;
}
.input-div input {
  padding: 16px 30px;
  border: none;
  outline: none;
  width: 400px;
  border-radius: 20px;
}
.input-div textarea {
  padding: 16px 30px;
  border: none;
  outline: none;
  width: 400px;
  border-radius: 20px;
}

.enquiry-desc {
  height: 120px;
}
::placeholder {
  font: normal normal 20px/1 "Sofia Pro";
}
.submit-btn {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.submit-btn button {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 15px 55px;
  background-color: black;
  color: white;
  font: normal 18px/1 "Sofia Pro";
  letter-spacing: 1px;
}
.contact-right-flex {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  background-color: #dddedf;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 15px;
  padding: 100px 80px;
}

.contact-right-flex h3 {
  font: normal normal bold 30px "Integralcf";
  letter-spacing: 3px;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: -5rem;
}
.contact-right-flex h4 {
  font: normal normal bold 30px/1 "Sofia Pro";
  margin-bottom: 21px;
}
.contact-right-flex p {
  font: normal normal 22px/1 "Sofia Pro";
  letter-spacing: 2px;
}
.contact-section {
  margin-bottom: 2rem;
}

.contact-right-flex-content {
  margin: 20px 0;
}

@media only screen and (max-width: 760px) {
  .contact-map iframe {
    width: 100%;
  }
  .contact {
    text-align: center;
    gap: 1rem;
    height: auto;
    background: none;
  }
  .contact-left-flex {
    margin: auto;
    padding: 10px;
  }

  .contact-right-flex {
    padding: 20px;
    margin: 10px;
  }
  .contact-right-flex h3 {
    margin-top: 0;
  }
  .contact h3 {
    font: normal normal bold 30px/1 "Sofia Pro";
  }

  .contact h4 {
    font: normal normal bold 20px/1 "Sofia Pro";
  }

  .contact p {
    font: normal normal 16px/25px "Sofia Pro";
  }
}
