@font-face {
  font-family: "Integralcf";
  src: url("https://assets.website-files.com/5f3a64853eba5d020f364879/6336ba765cc1618b555967fa_IntegralCF-Heavy.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("https://assets.website-files.com/5f3a64853eba5d020f364879/633d52298518d22d5748a84f_SofiaPro-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("https://assets.website-files.com/5f3a64853eba5d020f364879/633d538eeca20e048ba2aa5a_SofiaPro-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("https://assets.website-files.com/5f3a64853eba5d020f364879/633e7f618f71df593ae37f82_SofiaPro-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.Navbar {
  height: 10vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: white;
  /* background-image: linear-gradient(to right, #e1dfde, #f5e7df); */
  box-shadow: 0.7px 0.9px 3.6px rgba(0, 0, 0, 0.07),
    1.9px 2.5px 10px rgba(0, 0, 0, 0.1), 4.5px 6px 24.1px rgba(0, 0, 0, 0.13),
    15px 20px 80px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.05, 0.78, 1, 0.37) 0.5s;
}

.logo {
  display: flex;
  align-items: center;
}

.scrollnav {
  background-color: white;
  width: 50%;
  border-radius: 20px;
  margin-top: 10px;
  transition: all linear 0.5s;
  z-index: 1000;
  /* box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2); */
}
.scrollnav .nav-logo {
  display: none;
  transition: all linear 0.5s;
}

@keyframes logoName {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.nav-logo {
  animation-name: logoName;
  animation-duration: 2s;
  font: normal normal bold 36px/1 "Sofia Pro";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  margin-left: 20px;
  color: rgb(26, 25, 25);
}

.nav-logo span {
  color: var(--secondaryColor);
}
.nav-image {
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
  margin-left: 40px;
}

.Navbar > .nav-items > a {
  font: normal normal bold 20px/1 "Sofia pro";
  font-weight: 700;
  text-decoration: none;
  margin: 20px;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.Navbar > .nav-items {
  margin-right: 30px;
}

div.nav-items a:before,
div.nav-items a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #69a4f1;
  transition: all 0.3s;
}

div.nav-items a:before {
  left: 0px;
  top: 0px;
}

div.nav-items a:after {
  right: 0px;
  bottom: 0px;
}

div.nav-items a:hover:before,
div.nav-items a:hover:after {
  opacity: 1;
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

/* Media Querry */

@media (max-width: 960px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1e130c, #9a8478);
    border-radius: 15px;
    width: 65%;
    height: 100%;
    color: white;
    transform: translateX(-100%);
    transition: all 0.45s;
    gap: 2rem;
    z-index: 1;
  }
  .nav-bottom {
    display: none;
  }
  .nav-logo {
    display: none;
  }
  .nav-logo-image {
    background-color: white;
    border-radius: 20px;
  }
  .Navbar {
    background-color: black;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .Navbar > .nav-items > a {
    color: white;
    font: normal normal 18px/1 "Poiret-One";
  }
  .Navbar > .nav-items.open {
    transform: translateX(0);
  }
  .Navbar > .nav-toggle {
    display: flex;
    width: 50;
    height: 40px;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    margin-right: 20px;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateX(8px);
  }
  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }
  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
