.process {
  margin-top: 10vh;
}
.process-head {
  text-align: center;
  letter-spacing: 0.5px;
  padding: 3rem 0;
}
.process-head h3 {
  color: var(--secondaryColor);
  font: normal bold 30px/1 "Integralcf";
  margin-bottom: 40px;
  letter-spacing: 4px;
}
.process-head p {
  font: normal normal 23px/40px "Sofia pro";
}
/* .process-method {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
} */
/* .process-method img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
} */

.process-container {
  margin: 0;
  padding: 0;
}
.process-card {
  width: 100vw;
  height: 80vh;
  padding: 15px;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 15px; */
}
.process-card > div {
  width: 50rem;
  /* text-align: center; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.process-method h3 {
  font: normal normal bold 33px/1 "Sofia Pro";
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}
.process-method p {
  font: normal normal 23px/37px "Sofia Pro";
}

/* Media Querry */

@media only screen and (max-width: 760px) {
  .process-head h3,
  .process-method h3 {
    font: normal normal bold 25px/40px "Poiret-One";
    text-align: center;
  }
  .process-head p,
  .process-method p {
    font: normal normal normal 16px/30px "Poiret-One";
    text-align: justify;
  }
  .process-card {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
